[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
og_testnet = "${OG_RPC_URL}"
localhost = "http://127.0.0.1:8545"

[fmt]
line_length = 120
tab_width = 4

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
